<center><h1>Практическая работа №1</h1></center>

<center><h2>Тема работы: "Разведочный анализ"</h2></center>

<h5>Цель работы: провести разведочный анализ данных по датасету.</h5>

<h5>Ход работы:</h5>

<p>Импорт необходимых библиотек (pandas - для работы с табличными данными)</p>

In [ ]:
import pandas as pd

<strong>1. Загрузка датасета.</strong>
<p>pd.read_csv() - функция для чтения CSV файлов</p>

In [64]:
path = r"C:\Users\Zumazoy\Datasets\youtube-top-100-songs-2025.csv"
df = pd.read_csv(path)

<strong>2. Просмотр и исследование датасета.</strong>
<p>df.info() - показывает информацию о датафрейме: типы данных, количество ненулевых значений и т.д.</p>

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   100 non-null    object
 1   fulltitle               100 non-null    object
 2   description             100 non-null    object
 3   view_count              100 non-null    int64
 4   categories              100 non-null    object
 5   tags                    85 non-null     object
 6   duration                100 non-null    int64
 7   duration_string         100 non-null    object
 8   live_status             100 non-null    bool
 9   thumbnail               100 non-null    object
 10  channel                 100 non-null    object
 11  channel_url             100 non-null    object
 12  channel_follower_count  100 non-null    int64
dtypes: bool(1), int64(3), object(9)
memory usage: 9.6+ KB

<p>df.shape - возвращает кортеж (количество_строк, количество_столбцов)</p>

In [66]:
print(f"Количество строк: {df.shape[0]}. Количество столбцов: {df.shape[1]}.")

Количество строк: 100. Количество столбцов: 13.

<p>df.head() - показывает первые 5 строк датафрейма по умолчанию</p>

In [67]:
df.head()

,title,fulltitle,description,view_count,categories,tags,duration,duration_string,live_status,thumbnail,channel,channel_url,channel_follower_count
0,ROSÉ & Bruno Mars - APT. (Official Music Video),ROSÉ & Bruno Mars - APT. (Official Music Video),ROSÉ & Bruno Mars - APT.\nDownload/stream: ht...,2009014557,Music,YG Entertainment;YG;와이지;K-pop;BLACKPINK;블랙핑크;블...,173,2:53,False,https://i.ytimg.com/vi_webp/ekr2nIex040/maxres...,ROSÉ,https://www.youtube.com/channel/UCBo1hnzxV9rz3...,19200000
1,"Lady Gaga, Bruno Mars - Die With A Smile (Offi...","Lady Gaga, Bruno Mars - Die With A Smile (Offi...",MAYHEM OUT NOW\nhttp://ladygaga.com \n \nListe...,1324833300,Music,Lady Gaga;Bruno Mars;Interscope;Pop,252,4:12,False,https://i.ytimg.com/vi/kPa7bsKwL-c/maxresdefau...,Lady Gaga,https://www.youtube.com/channel/UC07Kxew-cMIay...,29600000
2,Reneé Rapp - Leave Me Alone (Official Music Vi...,Reneé Rapp - Leave Me Alone (Official Music Vi...,"Listen to “BITE ME”, the new album from Reneé ...",2536628,Music,Reneé Rapp;Interscope Records;Pop,160,2:40,False,https://i.ytimg.com/vi/tiPWzFLiz4A/maxresdefau...,Reneé Rapp,https://www.youtube.com/channel/UCZy4ki_L4bzw9...,408000
3,Billie Eilish - BIRDS OF A FEATHER (Official M...,Billie Eilish - BIRDS OF A FEATHER (Official M...,Listen to HIT ME HARD AND SOFT: https://billie...,558329099,Music,Billie Eilish;Darkroom/Interscope Records;Alte...,231,3:51,False,https://i.ytimg.com/vi/V9PVRfjEBTI/maxresdefau...,Billie Eilish,https://www.youtube.com/channel/UCDGmojLIoWpXo...,56800000
4,Reneé Rapp - Mad (Official Music Video),Reneé Rapp - Mad (Official Music Video),"Listen to “BITE ME”, the new album from Reneé ...",2113548,Music,Reneé Rapp;Interscope Records;Pop,180,3:00,False,https://i.ytimg.com/vi/xkWQM3flsiY/maxresdefau...,Reneé Rapp,https://www.youtube.com/channel/UCZy4ki_L4bzw9...,408000

<p>df.describe() - показывает статистику для числовых столбцов: count, mean, std, min, max и др.</p>

In [68]:
df.describe()

         view_count    duration  channel_follower_count
count  1.000000e+02  100.000000            1.000000e+02
mean   1.059103e+08  203.900000            1.612067e+07
std    2.491132e+08   44.260592            1.980038e+07
min    1.161000e+03  120.000000            1.000000e+00
25%    1.852702e+07  173.000000            6.132500e+05
50%    3.798224e+07  193.500000            6.320000e+06
75%    1.111073e+08  231.750000            2.760000e+07
max    2.009015e+09  354.000000            7.620000e+07

<p>df.isnull().sum() - подсчитывает количество пропущенных значений в каждом столбце</p>

In [69]:
df.isnull().sum()

title                      0
fulltitle                  0
description                0
view_count                 0
categories                 0
tags                      15
duration                   0
duration_string            0
live_status                0
thumbnail                  0
channel                    0
channel_url                0
channel_follower_count     0
dtype: int64

<p>df['column'].value_counts() - подсчитывает количество каждого уникального значения в столбце</p>

In [78]:
print(f"Топ 5 самых популярных каналов:\n{df['channel'].value_counts().head()}")

Топ 5 самых популярных каналов:
channel
Sabrina Carpenter    7
Tate McRae           4
Lady Gaga            3
Billie Eilish        3
Kendrick Lamar       3
Name: count, dtype: int64

<p>df['column'].nunique() - возвращает количество уникальных значений в столбце</p>

In [71]:
print(f"Количество уникальных каналов: {df['channel'].nunique()}")

Количество уникальных каналов: 65

<strong>3. Удаление признака.</strong>
<p>df.drop('column', axis=1) - удаляет указанный столбец из датафрейма, axis=1 означает, что мы работаем со столбцами, а не со строками</p>

In [72]:
df = df.drop('fulltitle', axis=1)
print(f"Количество столбцов: {df.shape[1]}")

Количество столбцов: 12

<strong>4. Замена и удаление значений.</strong>
<p>df['column'].replace - заменяет определенные значения в столбце на указаннные</p>

In [73]:
df['categories'] = df['categories'].replace({'People & Blogs': 'Vlog'})
print(f"Значения в 'categories' заменены:\n{df['categories'].value_counts()}")

Значения в 'categories' заменены:
categories
Music    94
Vlog      6
Name: count, dtype: int64

<p>df[df['column'] >= 100000] - удаляет все строчки, где значение меньше 100000</p>

In [74]:
df = df[df['view_count'] >= 100000]
print(f"Количество строк после удаления: {df.shape[0]}")

Количество строк после удаления: 89

<strong>5. Сортировка по указанному столбцу.</strong>
<p>df.sort_values(by='column', ascending=False) - сортирует датафрейм по указанному столбцу, ascending=False означает сортировку по убыванию</p>

In [75]:
df = df.sort_values(by='view_count', ascending=False)
df[['title', 'channel', 'view_count']].head()

,title,channel,view_count
0,ROSÉ & Bruno Mars - APT. (Official Music Video),ROSÉ,2009014557
1,"Lady Gaga, Bruno Mars - Die With A Smile (Offi...",Lady Gaga,1324833300
3,Billie Eilish - BIRDS OF A FEATHER (Official M...,Billie Eilish,558329099
5,Sabrina Carpenter - Espresso,Sabrina Carpenter,472570966
14,Kendrick Lamar - Not Like Us,Kendrick Lamar,397228595

<strong>6. Удаление дубликатов.</strong>
<p>df.drop_duplicates() - удаляет дублирующиеся строки, subset=['col1', 'col2'] - указывает, по каким столбцам проверять дубликаты</p>

In [76]:
df = df.drop_duplicates(subset=['title', 'channel'])
print(f"Количество строк после удаления дубликатов: {df.shape[0]}")

Количество строк после удаления дубликатов: 89

<strong>7. Выбор целевой переменной.</strong>
<p>Целевая переменная: categories</p>
<p>Потому что:</p>
<ul>
    <li>Категория видео - важный фактор, влияющий на популярность</li>
    <li>Имеет четкую категоризацию (Music vs Vlog)</li>
    <li>Представляет практический интерес для анализа контента</li>
</ul>

<strong>8. Сохранение датасета.</strong>
<p>df.to_csv() - сохраняет датафрейм в CSV файл, index=False - не сохранять индексы строк, encoding='utf-8' - кодировка для поддержки специальных символов</p>

In [77]:
df.to_csv('youtube_top_songs_2025.csv', index=False, encoding='utf-8')

<h5>Вывод: удален признак 'fulltitle', произведена замена значений categories, удаление значений view_count, сортировка по просмотрам видео и удаление дубликатов.</h5>